<!DOCTYPE html>
<html>
    <%- include('./blocks/head.ejs') %>
    <%- include('./blocks/nav.ejs') %>
    <meta name="description" content="Leaderboard for <%= bot.guilds.cache.get(serverID).name %>">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Olykir#6529, olykirr@gmail.com">
    <meta name="keywords" content="Discord Bots, Discord, Discord Bot, xCubed, x3, xcubed bot, discord x3, k3, k4">
    <meta name="image" content="<%= bot.guilds.cache.get(serverID).iconURL %>">
    <meta name='theme-color' content="#877EEB">
    <title><%= bot.guilds.cache.get(serverID).name %>'s Leaderboard</title>
    <% for(const data of SortedLB) { %>
        <div class="LevelCard">
            <img src="<%= bot.users.cache.get(data._id).displayAvatarURL()%>" style="border-radius: 50%; position: relative; top: 15px; width: 75px;">
            <div style="display: flex; justify-content: space-around; position: relative; top: -70px; width: 90%; left: 90px;">
                <div style="width: 15%;">
                    <p style="color: #877EEB; text-align: center;">Rank</p>
                    <p style="text-align: center;"><%= SortedLB.indexOf(data) + 1%></p>
                </div>
                <div style="width: 15%;">
                    <p style="color: #877EEB; text-align: center;">User</p>
                    <p style="text-align: center; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;"><%= bot.users.cache.get(data._id).tag %></p>
                </div>
                <div style="width: 15%;">
                    <p style="color: #877EEB; text-align: center;">XP</p>
                    <% if(data.levels.level === 0) { %>
                        <p style="text-align: center;"><%= data.levels.xp %>/<%= levels.find((f) => f.level === data.levels.level + 1).xp%></p>
                    <% } else { %>
                        <p style="text-align: center;"><%= data.levels.xp - levels.find((f) => f.level === data.levels.level - 1).xp   %>/<%= levels.find((f) => f.level === data.levels.level + 1).xp - levels.find((f) => f.level === data.levels.level - 1).xp %></p>
                   <% } %>
                </div>
                <div  style="width: 15%;">
                    <p style="color: #877EEB; text-align: center;" >Level</p>
                    <p style="text-align: center;"><%= data.levels.level %></p>
                </div>
                <div style="width: 15%;">
                    <p style="color: #877EEB; text-align: center;">Total XP</p>
                    <p style="text-align: center;"><%= data.levels.xp %></p>
                </div>
            </div>
        </div>
   <% } %>
    <%- include('./blocks/footer.ejs') %>
</html>