<!DOCTYPE html>
<html>
    <%- include('./blocks/head.ejs') %>
    <%- include('./blocks/meta.ejs') %>
    <%- include('./blocks/nav.ejs') %>
    <title>xCubed Team</title>
    <h1 style="color: #99aab5; position: relative; left: 50px; top: 35px; width: 300px;">Staff</h1>
    <div style="margin: 45px;">
            <div style="display: flex; flex-wrap: wrap; justify-content: flex-start;">
                <div class="StaffCard olykir" style="background: linear-gradient(rgb(187, 31, 187), rgb(129, 32, 124));">
                    <h1 style="position: relative; left: 6px; font-size: 16px;"><%= bot.users.cache.get('621154191192096778').username %></h1>
                    <p style="position: relative; left: 6px; font-size: 12px; bottom: 10px;">Lead Developer</p>
                    <img src="<%= bot.users.cache.get('621154191192096778').displayAvatarURL(); %>" style="height: 50px; border-radius: 50%; float: right; position: relative; bottom: 62px; right: 10px;">
                    <div style="position: relative; top: -17px; left: 5px;">
                        <a href="https://github.com/LandenStephenss"><img src="/assets/git.svg" style="width: 15px;"></a>
                        <a href="https://www.instagram.com/landen._.stephens/"><img src="/assets/insta.svg" style="width: 15px;"></a>
                        <a href="https://discord.gg/kQUpSgw"><img src="/assets/discord.svg" style="width: 15px;"></a>
                    </div>
                </div>
                <div class="StaffCard">
                    <h1 style="position: relative; left: 6px; font-size: 16px;"><%= bot.users.cache.get('458659194707640321').username %></h1>
                    <p style="position: relative; left: 6px; font-size: 12px; bottom: 10px;">Developer</p>
                    <img src="<%= bot.users.cache.get('458659194707640321').displayAvatarURL(); %>" style="height: 50px; border-radius: 50%; float: right; position: relative; bottom: 62px; right: 10px;">
                    <div style="position: relative; top: -17px; left: 5px;">
                        <a href="https://github.com/Yumiro"><img src="/assets/git.svg" style="width: 15px;"></a>
                        <a href="https://discord.gg/X4uypJh"><img src="/assets/discord.svg" style="width: 15px;"></a>
                    </div>
                </div>
    </div>
    
    </div>
    <h1 style="color: #99aab5; position: relative; left: 50px; top: -35px; width: 300px;">Contributors</h1>
    <div style="margin: 45px; position: relative; top: -70px;">
            <div style="display: flex; flex-wrap: wrap; justify-content: flex-start;">
        <% bot.guilds.cache.get("621410459144159242").roles.cache.get("621454924387057684").members.forEach((member) => { %>
            <% if(member.roles.cache.has("621454648250990625")) return %>
            <div class="ContributorCard">
                <h1 style="position: relative; left: 6px; font-size: 16px;"><%= member.user.username %></h1>
                <p style="position: relative; left: 6px; font-size: 12px; bottom: 10px;">Contributor</p>
                <img src="<%= member.user.displayAvatarURL() %>" style="height: 50px; border-radius: 50%; float: right; position: relative; bottom: 62px; right: 10px;">
            </div>
        <% }) %>
        <% bot.guilds.cache.get("621410459144159242").roles.cache.get("658813909599387670").members.forEach((member) => { %>
            <% if(member.roles.cache.has("621454648250990625")) return %>
            <div class="Booster">
                <h1 style="position: relative; left: 6px; font-size: 16px;"><%= member.user.username %></h1>
                <p style="position: relative; left: 6px; font-size: 12px; bottom: 10px;">Server Booster</p>
                <img src="<%= member.user.displayAvatarURL() %>" style="height: 50px; border-radius: 50%; float: right; position: relative; bottom: 62px; right: 10px;">
            </div>
        <% }) %>
        <% bot.guilds.cache.get("621410459144159242").roles.cache.get("696888995648634991").members.forEach((member) => { %>
            <% if(member.roles.cache.has("621454648250990625")) return %>
            <div class="Patreon">
                <h1 style="position: relative; left: 6px; font-size: 16px;"><%= member.user.username %></h1>
                <p style="position: relative; left: 6px; font-size: 12px; bottom: 10px;">Patreon</p>
                <img src="<%= member.user.displayAvatarURL() %>" style="height: 50px; border-radius: 50%; float: right; position: relative; bottom: 62px; right: 10px;">
            </div>
        <% }) %>
    </div>
    
    
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <%- include('./blocks/footer.ejs') %>
</html>